<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appspot.istria.histriapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".HistriApp"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.appspot.istria.histriapp.Locations.LocationService" />
        <service android:name="com.appspot.istria.histriapp.Services.InstitutionService"/>


        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1846341322313638"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name="com.appspot.istria.histriapp.View.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.appspot.istria.histriapp.View.LocationsActivity" />
        <activity
            android:name="com.appspot.istria.histriapp.View.BusinessActivity"
            android:label="@string/title_activity_business"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appspot.istria.histriapp.View.QuizSetupActivity"
            android:label="@string/title_activity_quiz_setup"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appspot.istria.histriapp.Instructions.InstructionsPager"
            android:label="@string/title_activity_instructions_pager"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appspot.istria.histriapp.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appspot.istria.histriapp.View.InstitutionsSelectionAct"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appspot.istria.histriapp.View.InstitutionDescription"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appspot.istria.histriapp.TextDetection.OcrCaptureActivity"
            android:label="@string/title_activity_ocr_capture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.appspot.istria.histriapp.TextDetection.TestTextDetection" />
        <activity android:name="com.appspot.istria.histriapp.TextDetection.TranslatedTextAct" />
        <activity android:name="com.appspot.istria.histriapp.View.MainSelectionAct"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.appspot.istria.histriapp.View.RewardAvt"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.appspot.istria.histriapp.View.TreasureAct"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>